@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Medium.otf');
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('../fonts/SF-Pro-Display-Semibold.otf');
}

@font-face {
	font-family: 'SF Pro Thin';
	src: url('../fonts/SF-Pro-Display-Thin.otf');
}

@font-face {
	font-family: 'SF Pro Regular';
	src: url('../fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
	font-family: 'SF Pro Light';
	src: url('../fonts/SF-Pro-Display-Light.otf');
}